<h3>Search Results</h3>
<table>
  <tr class="red">
<% @results.each do |result| %>
    <td class="green">
      <%= link_to result[0], "http://imdb.com/title/#{result[1]}" %>
    </td>
    <% end %>
  </tr>
  <tr class="fire">
<% @people.each do |person| %>
    <td class="grey">
      <%= link_to person_path(person.id) do %>
      <%= image_tag("#{@configuration.base_url}w154#{person.profile_path}") if person.profile_path %>
        <%= link_to person.name, person_path(person.id) %>
    </td>
        <% end %>
<% end %>
  </tr>
</table>

<!--
<div class="row">
<%# @results.each do |result| %>
  <div class="col-xs-6 col-md-3">
    <a href="<%#= link_to result[0], "http://imdb.com/title/#{result[1]}", class: "thumbnail" %>">
      <%#= image_tag('http://placehold.it/154x213&text=movie') %><br>
    </a>
    <%#= link_to result[0], "http://imdb.com/title/#{result[1]}" %>
  </div>
    <%# end %>

</div>
 -->






<div class="row">
  <% @results.each do |result| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img data-src="http://placehold.it/154x213&text=movie"> -->
      <%= link_to image_tag('http://placehold.it/154x213&text=movie'), "http://imdb.com/title/#{result[1]}" %>
      <div class="caption">
        <h3><%= link_to result[0], "http://imdb.com/title/#{result[1]}" %></h3>
        <p>some movie content</p>
      </div>
    </div>
  </div>
      <% end %>
</div>



<div class="row">
  <% @people.each do |person| %>
  <div class="col-xs-6 col-md-3">
      <%#= link_to image_tag("#{@configuration.base_url}w154#{person.profile_path}") %>
      <%= image_tag("#{@configuration.base_url}w154#{person.profile_path}") if person.profile_path %>
        <%= link_to person.name, person_path(person.id) %>
  </div>
<% end %>
</div>













<!--
<div>
<%# @film.each do |movie| %>
    <ul>
      <li>
        <%#= link_to movie_path(movie.id) do %>
        <%#= image_tag("#{@configuration.base_url}w154#{movie.poster_path}") if movie.poster_path %>
        <%# end %>
      </li>
      <li>
          <%#= link_to movie.title, movie_path(movie.id) %> (<%#= movie.release_date.to_date %>) <br />
        Directors: <%# Tmdb::Movie.crew(movie.id).each do |crew| %>
        <%# if crew['department'] == 'Directing' %>
        <%#= link_to crew['name'], person_path(crew['id']) %>
        <%# end %>
        <%# end %><br>
        Writers:
        Starring: <%# Tmdb::Movie.casts(movie.id).first(3).each do |cast| %>
        <%#= link_to cast['name'], person_path(cast['id']) %> |
        <%# end %><br>

      </li>
    </ul>
</div>
    <%# end if @film %>
 -->
